@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oleo+Script:wght@400;700&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oleo+Script:wght@400;700&family=Silkscreen:wght@400;700&family=Tac+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url(bg.gif);
  font-family: "Oleo Script", system-ui;
  color: #a65a5a;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

article#contribute ol {
  list-style: circle inside;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Silkscreen", sans-serif;
  background-color: rgb(139 75 55 / 27%);
  padding: 10px;
  border-radius: 60px 5px 60px 5px;
  backdrop-filter: blur(5px);
}

#files .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#files .container a {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 50px;
}

#files .container a:hover {
  background-color: #007bff;
  color: white;
}

article#contribute h3 {
  color: #ff5733;
  font-size: 24px;
  text-align: center;
  transform: rotate(-3deg);
  animation: glow 1s ease-in-out infinite alternate;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #ff5733;
  }
  100% {
    text-shadow: 0 0 20px #ff5733, 0 0 30px #ff5733, 0 0 40px #ff5733;
  }
}

article#contribute h3:contains("Source Files") {
  color: #ff5733;
  font-size: 24px;
  text-align: center;
  transform: rotate(-3deg);
  animation: glow 1s ease-in-out infinite alternate;
}

.container > article > section > ul > li {
  padding: 10px;
  text-align: center;
  border: 3px solid #c948e366;
  border-radius: 5px;
  background-color: rgb(233 131 180 / 17%);
  backdrop-filter: blur(5px);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-image:url(top.gif);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header p {
  font-size: 2rem;
  color: white;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

article, aside {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2, aside h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.page-footer {
  background-color: #9a27ae2b;
  color: #FF9800;
  padding: 20px;
  text-align: center;
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: none;
}

#about section:last-of-type ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000000;
  margin: 1rem 0 2rem;
  padding: 10px;
  list-style: none;
}

#about h2 {
  color: #7b4e89;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

#guidelines h2 {
  color: #1e90ff; 
  text-align: center;
}

#styles h2 {
  color: #9370db; 
  text-align: center;
}

svg {
  fill: #ff0000;
  width:10px;
}

.skip-link {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  top: 0;
  padding: 1rem;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skip-link:hover {
  background-color: #555;
}

.skip-link:focus {
  transform: translateY(0%);
  outline: none;
}

h1 {
  color: #ff0000;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  background-color: #0a204a00;
  backdrop-filter: blur(20px);
  border-radius: 50px 5px 50px 5px;
}

.footer-links-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer-links-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links-container ul li {
  margin-bottom: 5px;
}

.footer-links-container ul li a {
  text-decoration: none;
  color: #333;
}

.footer-links-container ul li a:hover {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

article, aside {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2, aside h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.page-footer {
  background-color: #9a27ae2b;
  color: #FF9800;
  padding: 20px;
  text-align: center;
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: none;
}

#about section:last-of-type ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000000;
  margin: 1rem 0 2rem;
  padding: 10px;
  list-style: none;
}

#about h2 {
  color: #7b4e89;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

#guidelines h2 {
  color: #1e90ff; 
  text-align: center;
}

#styles h2 {
  color: #9370db; 
  text-align: center;
}

svg {
  fill: #ff0000;
  width:10px;
}

.skip-link {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  top: 0;
  padding: 1rem;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skip-link:hover {
  background-color: #555;
}

.skip-link:focus {
  transform: translateY(0%);
  outline: none;
}

h1 {
  color: #ff0000;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  background-color: #0a204a00;
  backdrop-filter: blur(20px);
  border-radius: 50px 5px 50px 5px;
}

.footer-links-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer-links-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links-container ul li {
  margin-bottom: 5px;
}

.footer-links-container ul li a {
  text-decoration: none;
  color: #333;
}

.footer-links-container ul li a:hover {
  text-decoration: none;
}

.profile {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  background-color: rgb(15 7 54 / 41%);
  padding: 0rem;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.profile h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.profile ul {
  list-style: none;
  padding: 0;
}

.profile ul li {
  margin-bottom: 0.5rem;
}

.profile ul li span {
  font-weight: bold;
}

.profile ul li a {
  color: #007bff;
  text-decoration: none;
}

.profile ul li a:hover {
  text-decoration: none;
}

#styles .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#styles .features li {
  flex: 1 0 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #ffcc80;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
}

#styles .features li:nth-child(odd) {
  background-color: #81d4fa;
}

#styles .features li:nth-child(even) {
  background-color: #c5e1a5;
}

#styles .link-allstyles {
  display: block;
  margin-top: 20px;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333;
  padding: 25px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

a:link,
a:visited,
a:active {
  color: #ff9800;
  text-decoration: none;
  border-bottom: none;
}

.page-footer [class^=link] {
  color: gray;
  border: 1px solid rgb(224, 199, 199);
  padding: 0px 20px 0px 20px;
  background-color: rgb(224, 199, 199);
  border-radius: 5px;
  transition: all ease-in-out 1s;
}

.page-footer [class^=link]:hover {
  color: rgb(224, 199, 199);
  border: 1px solid rgb(224, 199, 199);
  padding: 0px 20px 0px 20px;
  background-color: gray;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  article h2, aside h3 {
    font-size: 1.5rem;
  }

  article p, aside ul {
    font-size: 1rem;
  }

  main {
    grid-template-columns: 1fr;
  }
}
